# Compiled class file
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr
# file: ~/.gitignore_global
.DS_Store
.idea
# Eclipse files
.settings/
.classpath
.project

# Maven
/target/
mvnw
mvnw.cmd

# Gradle
build/
.gradle/

Thumbs.db

# Spring Boot
/target/
!.mvn/wrapper/maven-wrapper.jar
mvn